<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Condicionais</title>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(cor, i) in cores" :key='cor'> {{ i + 1 }}) {{ cor }} </li>
        </ul>
        <button @click="cores.push('branco')">Adicionar</button>
        <hr>

        <template v-for="(cor, i) in cores">
            <h1> {{ cor }} </h1>
            <p> {{ i }} </p>
        </template>
        
        <hr>

        <ul>
            <li v-for="pessoa in pessoas" >
                <!-- {{ pessoa.nome }} -->
                <span v-for="(valor, chave, index) in pessoa" >
                    {{ chave }} = {{ valor }} ({{ index + 1 }})
                </span>
            </li>
        </ul>
        <hr>
        <span v-for="n in 10"> {{ n }} </span>
    </div>
</body>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Ana', idade: 26, peso: 50 },
                { nome: 'Gustavo', idade: 26, peso: 50 }
            ]
        }
    })
</script>

</html>

<style>
    ul {
        list-style: none;
    }

    h1, p {
        display: inline;
    }
</style>